.elements__delete-button {
    background: url(../../../images/elements-delete-button.svg);
    width: 18px;
    height: 19px;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    transition: opacity .4s linear;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 0;
}