.profile__description {
    padding: 0;
    margin: 8px 0 0 0;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.22;
    color: #FFFFFF;
}


@media screen and (max-width: 900px) {
    .profile__description {
        font-size: 14px;
        line-height: 17px;
    }
}